:root {
  background-color: #36393f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}
body {
  width: 100%;
  height: calc(100dvh - env(safe-area-inset-bottom));
  margin: 0;
  /* margin: 0 0 env(safe-area-inset-bottom); */
}
#main {
  overflow-x: scroll;
  scrollbar-width: none;
  height: 100%;
  padding: 0 5vw;
  display: grid;
  grid-template-columns: repeat(calc(92 * 48), 1px);
  grid-template-rows: min-content repeat(5, min-content);
  &::-webkit-scrollbar {
    display: none;
  }
}
.timeline {
  scroll-margin-top: 100px;
  background: repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 1px,
      transparent 1px,
      transparent 48px
    ),
    repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3) 1px,
      transparent 1px,
      transparent 4px
    );
  width: calc(48px * 62);
  grid-column: 2/-1;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
  grid-auto-flow: dense;
  &#labels {
    grid-auto-rows: 40px;
  }
  row-gap: 10px;
  .day {
    grid-row-start: 2;
  }
  .weekday {
    grid-row-start: 1;
  }
  .event {
    color: white;
    background-color: #7289da;
    width: auto;
    height: auto;
    border-radius: 12px;
    padding: 10px;
    position: relative;
    grid-column: calc(var(--start) + 1) / calc(var(--duration) + 1);
    /* .time {
      position: absolute;
      left: calc(100% + 10px);
      background-color: white;
      color: black;
      padding: 0 4px;
      border-radius: 12px;
    } */
    > div {
      line-height: 1rem;
      position: sticky;
      left: 0;
      width: max-content;
      &.time {
        font-size: 0.7rem;
        color: lightgray;

        &.expiring-7d {
          color: yellow;
        }
        &.expiring-3d {
          color: orange;
        }
        &.expiring-1d {
          color: #b46946;
        }
        &.expired {
          color: #6b1d1d;
        }
      }
    }
  }
}
.timeline-label {
  background-color: #36393f;
  height: 100%;
  color: white;
  grid-column: 1/-1;
  > span {
    position: sticky;
    left: -10px;
  }
}

#labels {
  background: #36393f;
  position: sticky;
  top: 0;
  z-index: 150;
  > div {
    grid-column: span 48;
  }
}

#now {
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 2px;
  align-self: end;
  height: 100%;
  position: relative;
  left: calc(1px * var(--now));
  z-index: 200;
}

nav {
  width: max-content;
  position: sticky;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  a {
    width: max-content;
    text-decoration: none;
    color: white;
    background-color: red;
    outline: 1px white solid;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
  }
}
